In [13]:
'''16. Write a python program to remove all entries with a
null value present.'''
import pandas as pd
df = pd.read_csv("lap_times.csv")
pd.isnull(df).any()
print(df.shape)
df = df.dropna(how='any',axis=0)
pd.isnull(df).any()
print(df.shape)
print(df)

(100, 5)
(97, 5)
    Position  Year         Make                           Model     Time
0          1  2009      Radical                          SR8 LM  06:48.0
1          2  2005      Radical                             SR8  06:56.1
2          3  2013      Porsche                      918 Spyder  06:57.0
3          4  2015  Lamborghini  Aventador LP 750-4 Superveloce  06:59.7
4          5  2015       Nissan                      GT-R Nismo  07:08.7
..       ...   ...          ...                             ...      ...
95        96  2003      Ferrari                          360 CS  07:56.0
96        97  2009      Ferrari                   California GT  07:56.0
97        98  2009      Porsche     Panamera Sport Chrono Turbo  07:56.0
98        99  2009      Porsche                  Panamera Turbo  07:56.0
99       100  2002    Chevrolet                    Corvette Z06  07:56.0

[97 rows x 5 columns]

In [21]:
'''17. Write a python program to replace all missing values in the dataset with a desired value accepted
from the user.'''
import pandas
import numpy as np
data = {'one': pandas.Series([1,2,5], index=['a','b','e']),
       'two': pandas.Series([1,2,3,4], index=['a','b','c','d'])
       }
table = pandas.DataFrame(data)
print("Before:\n",table)
print()
buff = 139
table['one'] = table['one'].replace(np.nan, buff)
table['two'].fillna(buff, inplace = True)
print("After:\n",table)

Before:
    one  two
a  1.0  1.0
b  2.0  2.0
c  NaN  3.0
d  NaN  4.0
e  5.0  NaN

After:
      one    two
a    1.0    1.0
b    2.0    2.0
c  139.0    3.0
d  139.0    4.0
e    5.0  139.0

In [29]:
'''18. Develop a Python code to impute a mean value to all
the null fields present in the data provided.'''
import pandas
import numpy as np
data = {'one':pandas.Series([1,2,5], index=['a','b','e']),
        'two':pandas.Series([1,2,3,4], index=['a','b','c','d'])
       }
table = pandas.DataFrame(data)
print("Before:\n",table)

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(table)
imputed_data = imputer.transform(table.values)
print("\nAfter:\n", pandas.DataFrame(imputed_data, columns=['One','Two']))

Before:
    one  two
a  1.0  1.0
b  2.0  2.0
c  NaN  3.0
d  NaN  4.0
e  5.0  NaN

After:
         One  Two
0  1.000000  1.0
1  2.000000  2.0
2  2.666667  3.0
3  2.666667  4.0
4  5.000000  2.5

In [1]:
'''19. Write a pythonic method to convert categorical data
into numerical data.'''
import pandas as pd
data = {
    'Customer_id': pd.Series([1,2,3,4,5]),
    'Loan_type': pd.Series(['Home Loan','Personal Loan','Education Loan',
                           'Home Loan','Credit Loan']),
    'Income': pd.Series(['30K','25K','15K','40K','35K'])
}
loan_info = pd.DataFrame(data)
print(loan_info)
print()
loan_info = pd.get_dummies(loan_info, prefix_sep='_', drop_first=True)
print(loan_info)

   Customer_id       Loan_type Income
0            1       Home Loan    30K
1            2   Personal Loan    25K
2            3  Education Loan    15K
3            4       Home Loan    40K
4            5     Credit Loan    35K

   Customer_id  Loan_type_Education Loan  Loan_type_Home Loan  \
0            1                         0                    1
1            2                         0                    0
2            3                         1                    0
3            4                         0                    1
4            5                         0                    0

   Loan_type_Personal Loan  Income_25K  Income_30K  Income_35K  Income_40K
0                        0           0           1           0           0
1                        1           1           0           0           0
2                        0           0           0           0           0
3                        0           0           0           0           1
4                        0           0           0           1           0

In [ ]:
'''1. Write a Python program to fetch the title of the URL
specified.'''
from bs4 import BeautifulSoup
import requests
url = 'https://www.python.org/'
req = requests.session()
content = req.get(url)
soup = BeautifulSoup(content.text, 'html.parser')
#print(soup.prettify())
print(soup.title)

In [ ]:
'''2. Write a Python program to print content of elements
that contain a specified string of a given web page.'''
import requests
import re
from bs4 import BeautifulSoup as bs
url = 'https://www.python.org/'